<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" rel="stylesheet">
    <title>Pay My Buddy - Contacts</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom border-primary mb-4">
    <div class="container">
        <a class="navbar-brand btn btn-warning" href="/dashboard">Pay My Buddy</a>

        <div class="navbar-collapse">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/dashboard">Accueil</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/accounts">Comptes</a>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" href="/contacts">Bénéficiaires</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="/transactions">Virements</a>
                </li>
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item mr-3 d-flex align-items-center">
                    <a href="/profile" class="text-primary" th:text="${user.email}"></a>
                </li>

                <li class="nav-item">
                    <form th:action="@{/logout}" method="post">
                        <button type="submit" class="btn btn-outline-primary">Se déconnecter</button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container">
    <div class="card p-4 border border-primary mb-4">
        <div th:if="${user.contacts != null and !user.contacts.isEmpty()}"  class="mb-4">
            <h2 class="mb-4">Mes Bénéficiaires</h2>

            <div th:if="${successMessage}" class="alert alert-success mb-3" role="alert">
                <span th:text="${successMessage}"></span>
            </div>

            <table class="table table-bordered">
                <thead class="bg-primary text-white">
                <tr class="text-center">
                    <th>ID</th>
                    <th>Email du bénéficiaire</th>
                    <th>Nom du bénéficiaire</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                <tr th:each="contact : ${user.contacts}" class="text-center border-primary">
                    <td th:text="${contact.contactId}" class="align-middle border-primary"></td>
                    <td th:text="${contact.email}" class="align-middle border-primary"></td>
                    <td th:text="${contact.username}" class="align-middle border-primary"></td>
                    <td class="text-center align-middle border-primary" style="width: 8%">
                        <form th:action="@{/contacts/{contactId}(contactId=${contact.contactId})}" method="post"
                              onsubmit="return confirm('Voulez-vous vraiment supprimer ce bénéficiaire ?');">
                            <input type="hidden" name="_method" value="delete" />
                            <button type="submit" class="btn btn-danger btn-sm">X</button>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <h2 class="mb-3">Ajouter un bénéficiaire</h2>
        <form th:action="@{/createContact}" th:object="${createContact}" method="post" class="row">
            <div class="form-group col-md-10">
                <input type="text" name="email" class="form-control" th:field="${createContact.email}" placeholder="Entrez le mail du bénéficiaire" required>
                <small th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></small>
                <small th:if="${errorMessage}" th:text="${errorMessage}" class="text-danger"></small>
            </div>
            <div class="col-md-2">
                <button type="submit" class="btn btn-primary align-middle w-100">Ajouter</button>
            </div>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>